.login-page {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.login-page__content {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(135deg, #b5b8cf 0%, #aeb6d4 40%, #7a82c9 100%);
}

.login-card {
  display: flex;
  width: 487px;
  height: 618px;
  padding: 70px 60px;
  flex-direction: column;
  align-items: center;
  gap: 30px;
  box-sizing: border-box;
  border-radius: var(--radius-card);
  border: 1px solid rgb(255 255 255 / 54%);
  background: #fff;
  box-shadow: 0 4px 4px rgb(0 0 0 / 15%);
}

.login-card__logo {
  width: 130px;
  height: 44px;
}

.login-card__title {
  display: flex;
  width: 88px;
  height: 45px;
  flex-direction: column;
  justify-content: center;
  margin: 0;
  color: #222;
  text-align: center;
  font-family: var(--font-main);
  font-size: 30px;
  font-weight: 500;
  letter-spacing: 1.5px;
}

.login-card__subtitle {
  display: flex;
  height: 42.5px;
  flex-direction: column;
  justify-content: center;
  align-self: stretch;
  margin: 0;
  color: var(--color-black);
  text-align: center;
  font-family: var(--font-main);
  font-size: 20px;
  font-weight: 400;
  letter-spacing: 0.4px;
}

.login-card__form {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.login-card__submit,
.login-card__register {
  width: 100%;
  align-self: stretch;
}

.login-card__fields {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}

.login-card__actions {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-top: 30px;
}

.login-card__input-control {
  align-self: center;
}
