.app-page {
  min-height: 100vh;
  margin: 0;
  overflow-x: hidden;
  background: var(--color-page-gradient);
}

.app-layout {
  display: grid;
  grid-template-columns:
    var(--layout-sidebar-width)
    var(--layout-content-width)
    var(--layout-widgets-width);
  column-gap: var(--layout-column-gap);
  align-items: start;
  width: max-content;
  min-width: var(--layout-min-width);
  padding:
    var(--layout-padding-top)
    var(--layout-padding-x)
    var(--layout-padding-bottom);

  &__left {
    width: 100%;
    min-width: 0;
  }

  &__center {
    display: flex;
    width: 100%;
    min-width: 0;
    padding: 0 var(--layout-content-inner-padding-x);
    flex-direction: column;
    align-items: center;
    gap: var(--layout-content-gap);
  }

  &__right {
    display: flex;
    width: 100%;
    min-width: 0;
    padding-left: var(--layout-widgets-inner-padding-left);
    flex-direction: column;
    align-items: flex-start;
    gap: var(--layout-widgets-gap);
  }

  &--content-wide {
    grid-template-columns:
      var(--layout-sidebar-width)
      calc(var(--layout-content-width) + var(--layout-widgets-width) + var(--layout-column-gap));

    .app-layout__right {
      display: none;
    }
  }
}