:root {
  /* ===== COLOURS ===== */

  --color-black: #000;
  --color-almost-black: #111827;
  --color-blue: #1d4ed8;
  --color-clickable: #9333ea;
  --color-card-gradient: radial-gradient(141.49% 141.42% at 0% 0%, #efeffa 0%, #f4f4ff 100%);
  --color-primary: #4a51d0;
  --color-primary-hover: #3239c3;
  --color-primary-active: #2a30a2;
  --color-error-text: #c93737;
  --color-background: #f3f6f7;
  --color-variant-light: #cbd2de;
  --color-variant-medium: #939bbc;
  --color-input-border: #cbd2de;
  --color-input-placeholder: #6d707e;
  --color-input-text: #030a38;
  --color-input-fill: #e1e6ee;
  --color-input-error-fill: #fed7d7;
  --color-input-error-border: #c66;

  /* ===== TYPOGRAPHY ===== */

  --font-main: inter, arial, sans-serif;

  /* Menu */
  --text-menu-size: 15px;
  --text-menu-line: 22px;

  /* Body */
  --text-body-size: 15px;

  /* Author */
  --text-author-size: 15px;

  /* CardTitle */
  --text-card-title-size: 17px;
  --text-card-title-line: 22px;

  /* Counters */
  --text-counters-size: 13px;
  --text-counters-line: 18px;

  /* Username */
  --text-username-size: 15px;

  /* Clickable */
  --text-clickable-size: 15px;

  /* ===== SHADOWS ===== */

  --shadow-card: 0 4px 12px rgb(0 0 0 / 50%);
}
