:root {
  /* ===== COLOURS ===== */

  --color-black: #000;
  --color-almost-black: #111827;
  --color-blue: #1d4ed8;
  --color-username-blue: #0c44eb;
  --color-clickable: #9333ea;
  --color-primary: #4a51d0;
  --color-primary-hover: #3239c3;
  --color-primary-active: #2a30a2;
  --color-error-text: #c93737;
  --color-background: #f3f6f7;
  --color-header-bg: #fff;
  --color-card-gradient: radial-gradient(141.49% 141.42% at 0% 0%, #efeffa 0%, #f4f4ff 100%);
  --color-active-item-bg: #afb4e1;
  --color-active-item-hover: rgb(175 180 225 / 45%);
  --color-variant-light: #cbd2de;
  --color-variant-medium: #939bbc;
  --color-search-bg: #d9d9d9;
  --color-input-fill: #e1e6ee;
  --color-input-border: #cbd2de;
  --color-input-text: #030a38;
  --color-input-placeholder: #6d707e;
  --color-input-error-fill: #fed7d7;
  --color-input-error-border: #c66;

  /* ===== TYPOGRAPHY ===== */

  --font-main: inter, arial, sans-serif;

  /* Menu */
  --text-menu-size: 15px;
  --text-menu-weight: 500;
  --text-menu-line: 22px;

  /* Body */
  --text-body-size: 15px;
  --text-body-weight: 500;
  --text-body-line: normal;
  --text-body-letter-spacing: 0;

  /* Author */
  --text-author-size: 15px;
  --text-author-weight: 500;
  --text-author-line: normal;

  /* CardTitle */
  --text-card-title-size: 17px;
  --text-card-title-weight: 700;
  --text-card-title-line: 22px;

  /* Counters */
  --text-counters-size: 13px;
  --text-counters-weight: 500;
  --text-counters-line: 18px;

  /* Username */
  --text-username-size: 15px;
  --text-username-weight: 500;
  --text-username-line: normal;

  /* Clickable */
  --text-clickable-size: 15px;
  --text-clickable-weight: 500;
  --text-clickable-line: normal;

  /* Input */
  --text-input-size: 18px;
  --text-input-weight: 500;
  --text-input-line: normal;
  --text-input-letter-spacing: 0.02em;

  /* ===== RADIUSES ===== */

  --radius-card: 20px;
  --radius-input: 10px;
  --radius-small: 8px;

  /* ===== EFFECTS ===== */

  --shadow-card: 0 4px 12px rgb(0 0 0 / 50%);
}
